.dropbtn {
    background-color: #000000;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content, .subnav {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content .subnav .product-subnav-1, .dropdown-content .subnav .product-subnav-2 {
    border-radius: 10px;
}

.dropdown-content li {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown .product .subnav,
.dropdown .product .product-subnav-1,
.dropdown .product .product-subnav-2 {
    display: none;
}

.dropdown .product:hover .subnav {
    display: block; 
}

.dropdown .product .subnav:hover .product1:hover .product-subnav-1, .dropdown .product .subnav:hover .product2:hover .product-subnav-2 {
    display: block; 
}

.product {
    position: relative;
}

.product .subnav,
.product-subnav-1,
.product-subnav-2 {
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: 2%;
    width: 180px;
    background-color: #000000; 
    padding-right: 20px;
    padding-left: 10px;
}

.dropdown-content li:hover {
    background-color: lightskyblue;
}


.dropdown:hover .dropdown-content {
    display: block; 
}

.dropdown:hover .dropbtn {
    background-color: lightskyblue;
}
